{{ partial "header" . }}
<body>
{{ partial "nav" . }}
<section class="section">
  <div class="container">
    <h2 class="subtitle is-6">{{ .Date.Format "January 2, 2006" }}</h2>
    <h1 class="title">{{ .Title }}</h1>
    {{ if .Params.tags }}
      {{ partial "tags" .Params.tags }}
    {{ end }}
    <div class="content">
      {{ .Content }}
    </div>
  </div>
</section>
{{ partial "disqus" . }}
  <nav class="pagination-single">
    {{ if .Next }}
      <span class="previous">
        <i class="fa fa-angle-left"></i>
        <a href="{{ .Next.Permalink }}" rel="prev">{{ .Next.Title }}</a>
      </span>
    {{ end }}
    {{ if .Prev }}
      <span class="next"><a href="{{ .Prev.Permalink }}" rel="next">{{ .Prev.Title }}</a>
        <i class="fa fa-angle-right"></i>
      </span>
    {{ end }}
  </nav>
{{ partial "footer" . }}
</body>
