<section class="section">
    <div class="container">
        <nav class="navbar is-fixed-top">
            <div class="navbar-brand">
                <a class="navbar-item" href="{{ .Site.BaseURL }}/">
                    <h1 class="title is-4">{{ .Site.Title }}</h1>
                </a>
                <div class="navbar-burger" data-target="navMenu">
                    <span></span>
                    <span></span>
                    <span></span>
                </div> 
            </div>

            <div id="navMenu" class="navbar-menu">
                <div class="navbar-end">
                    <nav class="navbar-item level">
                        {{ range .Site.Params.social }}
                        <a class="level-item" href="{{ .url }}">
                            <span class="icon">
                                <i class="fa {{ .fa_icon }}"></i>
                            </span>
                        </a>
                        {{ end }}
                    </nav>
                </div>
            </div>
        </nav>
    </div>
</section>

    <script type="text/javascript">
document.addEventListener('DOMContentLoaded', function () {

  // Get all "navbar-burger" elements
  var $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

  // Check if there are any navbar burgers
  if ($navbarBurgers.length > 0) {

    // Add a click event on each of them
    $navbarBurgers.forEach(function ($el) {
      $el.addEventListener('click', function () {

        // Get the target from the "data-target" attribute
        var target = $el.dataset.target;
        var $target = document.getElementById(target);

        // Toggle the class on both the "navbar-burger" and the "navbar-menu"
        $el.classList.toggle('is-active');
        $target.classList.toggle('is-active');

      });
    });
  }

});
    </script>
